<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>$(BUNDLE_DISPLAY_NAME)</string>
	<key>EnvironmentType</key>
	<string>$(ENVIRONMENT_TYPE)</string>
	<key>ApiScheme</key>
	<string>$(API_SCHEME)</string>
	<key>ApiHost</key>
	<string>$(API_HOST)</string>
	<key>ApiPathPrefix</key>
	<string>$(API_PATH_PREFIX)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>AeonikProTRIAL-Air.otf</string>
		<string>AeonikProTRIAL-AirItalic.otf</string>
		<string>AeonikProTRIAL-Black.otf</string>
		<string>AeonikProTRIAL-BlackItalic.otf</string>
		<string>AeonikProTRIAL-Bold.otf</string>
		<string>AeonikProTRIAL-BoldItalic.otf</string>
		<string>AeonikProTRIAL-Light.otf</string>
		<string>AeonikProTRIAL-LightItalic.otf</string>
		<string>AeonikProTRIAL-Medium.otf</string>
		<string>AeonikProTRIAL-MediumItalic.otf</string>
		<string>AeonikProTRIAL-Regular.otf</string>
		<string>AeonikProTRIAL-RegularItalic.otf</string>
		<string>AeonikProTRIAL-SemiBold.otf</string>
		<string>AeonikProTRIAL-SemiBoldItalic.otf</string>
		<string>AeonikProTRIAL-Thin.otf</string>
		<string>AeonikProTRIAL-ThinItalic.otf</string>
	</array>
</dict>
</plist>
