//
//  local.xcconfig
//  beautyn
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT_TYPE = Local

API_SCHEME = http
API_HOST = localhost:3000
API_PATH_PREFIX = api/v1

BUNDLE_DISPLAY_NAME = beautyn (Local)
PRODUCT_BUNDLE_IDENTIFIER = com.beautyn.app.local

GID_CLIENT_ID = 939341919013-6pov0ptgbq0clluk5q6nvc74p64g4h4n.apps.googleusercontent.com
GID_URL_SCHEME = com.googleusercontent.apps.939341919013-6pov0ptgbq0clluk5q6nvc74p64g4h4n
