//
//  production.xcconfig
//  beautyn
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT_TYPE = Production

API_SCHEME = https
API_HOST = api.beautyn.com.ua
API_PATH_PREFIX = api/v1

BUNDLE_DISPLAY_NAME = beautyn
PRODUCT_BUNDLE_IDENTIFIER = com.beautyn.app

GID_CLIENT_ID = 939341919013-m725ujcfqtgkvk5tske0kqeaij9nu7i4.apps.googleusercontent.com
GID_URL_SCHEME = com.googleusercontent.apps.939341919013-m725ujcfqtgkvk5tske0kqeaij9nu7i4
