//
//  stage.xcconfig
//  beautyn
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT_TYPE = Staging

API_SCHEME = https
API_HOST = stage-api.beautyn.app
API_PATH_PREFIX = api/v1

BUNDLE_DISPLAY_NAME = beautyn (Stage)
PRODUCT_BUNDLE_IDENTIFIER = com.beautyn.app.stage
